@import url('./normalize.scss');

@font-face {
  font-family: 'pressstart2p';
  src: url('../font/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: 'zpix';
  src: url('../font/zpix.woff2');
}

body {
  font-size: 18px;
}
