@import "./variable.scss";

//背景色
@mixin bg_color($color) {
  background-color: $color;
  [data-theme=light] {
    background-color: $bg_light;
  }
}

//字体色
@mixin font_color($color) {
  color: $color;
  [data-theme=light] & {
    color:  $font_color_light;
  }
}

//标题色
@mixin title_color($color) {
  color: $color;
  [data-theme=light] & {
    color:  $title_color_light;
  }
}