// 字体规范
$font_samll: 14px;
$font_medium: 18px;
$font_large: 30px;

// 主题色
$swan_pink: #FFA7C4;
$bg: #49308F;

//dark
$title_color_dark: #ffffff;
$font_color_dark: #FFFFFFE0;
$bg_dark: #49308F;

//light
$title_color_light: #FFA7C4;
$title_shadow_color_light: #FFA7C4;
$font_color_light: #222222;
$bg_light: #FFFFFF;